.cont_env{

    .tituloenv{
        text-align: center;
        font-size: 3rem;
        color: rgba(83, 13, 49, 0.8);
        margin-top: 8rem;       
        

    }

    article{
        padding: 10px;
        font-size: 2rem;
        text-align: center;
        image-resolution: 100%;

        img{
            padding: 3rem;
            border-radius: 60%;
        }
    }


}