

.titleprod{
    padding-bottom: 5px;
    padding: 50px;
    text-align: center;
    font-size: 3rem;
    color: rgba(83, 13, 49, 0.8);
    margin-top: 50px;
  }

.bodyprod{
    .imagenesproductos{
    
        .container-fluid{
            .row{
                display: flex;
                padding-right: 5px;
                padding-left: 10px;
                gap: 2rem;

                .botonCompra{
                    text-align: center;
                }
    
                img{
                    height: 280px;
                    width: 250px;
                }
            }
        }
    .botonCompra{
       text-align: center;
    }}

    

}


