@media (max-width:1200px){
    html{
      font-size: 55%;
     }
  }
  
@media (max-width:768px){

    .imagenesproductos{
    
        .container-fluid{
            .row{
                display: flex;
                flex-wrap: wrap;
                padding: 10px;

   
    
                img{
                    padding: 5rem;
                    height: 280px;
                    width: 250px;
                }
            }
        }
    }

  header label{
    visibility: visible;
    opacity: 1;
  }

  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(253, 103, 188);
    padding: 1rem 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  
  header .navbar a{
    display: block;
    margin: 2rem 0;
    font-size: 2rem;

  }
  
  header input:checked ~ .navbar{
    transform: scaleY(1);
    opacity: 1;
  }  

  header input:checked ~ label::before{
    content: '\f00d';
  }
}
  

@media(max-width:450px){
  html{
    font-size: 100%;
  }
}